<html lang="en">
    <head>
        <title>NFT Game of Life | NFT #<%= nftId %></title>
        <meta property="og:title" content="NFT Game of Life | NFT #<%= nftId %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://lifenft.net/?id=<%= nftId %>" />
        <meta property="og:image" content="http://lifenft.net/image/<%= nftId %>/force.gif" />
        <meta property="og:description" content="Check out this game of life NFT (ID: #<%= nftId %>) at LifeNFT.net" />
        <meta name="theme-color" content="#169de3">

        <!-- Include this to make the og:image larger -->
        <meta name="twitter:card" content="summary_large_image">
    </head>

    <body>

    </body>
</html>